@font-face {
  font-family: 'CutiePop-Yydq';
  src: url('fonts/CutiePop-Yydq.ttf') format('truetype');
}

body {
  display: flex;
  justify-content: center;
  font-family: 'CutiePop-Yydq', CutiePop-Yydq, sans-serif;
  align-items: center;
  height: 100vh;
  background-color: #fff9f9;
}

.container {
  position: relative;
}

.valentines {
  position: relative;
  top: 50px;
  cursor: pointer;
  animation: up 3s linear infinite;
}

@keyframes up {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px);
  }
}

.envelope {
  position: relative;
  width: 300px;
  height: 200px;
  background-color: #B7957F ; 
}

.envelope:before {
  background-color: #D7BDA6; 
  content: "";
  position: absolute;
  width: 212px;
  height: 212px;
  transform: rotate(45deg);
  top: -105px;
  left: 44px;
  border-radius: 30px 0 0 0;
}

.card {
  position: absolute;
  background-color: #eae2b7;
  width: 270px;
  height: 190px;
  top: 5px;
  left: 15px;
  box-shadow: -5px -5px 100px rgba(0, 0, 0, 0.4); 
}

.text {
  margin-top: 25px;
  font-size: 25px;
  text-align: center;
  line-height: 25px;
  top: 19px;
  left: 85px;
  color: #000;
  line-height: 25px; 
}

.photo {
  position: absolute;
  width: 80px; 
  height: 100px;
  top: 80px;
  left: 95px;
  object-fit: cover; 
}

.front {
  position: absolute;
  border-right: 180px solid #D7BDA6;
  border-top: 95px solid transparent;
  border-bottom: 100px solid transparent;
  left: 120px;
  top: 5px;
  width: 0;
  height: 0;
  z-index: 10;
}

.front:before {
  position: absolute;
  content: "";
  border-left: 300px solid #B7957F;
  border-top: 195px solid transparent;
  left: -120px;
  top: -95px;
  width: 0;
  height: 0;
}

@keyframes scale {
  0%, 100% {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(0.85);
  }
}